//@import "compass//css3";

$mainColour: green;

.header {
  text-align: center;
  background-color: $mainColour;
}

h2 {
  text-align: center;
}

$linkFontColour: #444;
@mixin link(){
  text-decoration: none;
  text-align: center;
  font-size: 2em;
  color: $linkFontColour;
}

$linkColour: $mainColour;
a {
  @include link();
  background-color: $linkColour;
}

a:hover {
  @include link();
  background-color: $linkColour;
}

$backgroundColour: #6fcfc3;

@mixin fullscreenMode(){
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  text-align: center;
  float: left;
  background-color: $backgroundColour;
  @include fullscreenMode();
}

.recipe {
  //@include border-radius(1em, 1em);
  background-color: $backgroundColour * 1.8;
}

$titleColour: #44cc44;
.recipeTitle {
  //@include border-radius(1em, 1em);
  background-color: $titleColour;
  margin: 0.5em;
}

.recipeBody {
  //@include border-radius(1em, 1em);
  background-color: white;
}

footer {
  background-color: $backgroundColour;
  width: 100%;
}

footer img {
  width: 100%;
}

footer #tree{
  width:25%;
  float: left;
}
