extends layout

block content
  #container.body.col-lg-12
    p Welcome to #{title} the Jungle

  #container.content.col-sm-12.col-md-12.col-lg-12
    each recipe in recipes
      #recipe.col-sm-4
        p #{recipe.title}
          each ingrediant in recipe.ingrediants
            p #{ingrediant.name} : #{ingrediant.quantity}
