extends layout

block content
  header.container-fluid.body.col-lg-12
    p Welcome to #{title} the Jungle

  #recipes.col-sm-12.center-block
    each recipe in recipes
      #recipe.recipe.col-sm-3
        p.recipeTitle #{recipe.title}
          #recipe_body.recipeBody
            each ingrediant in recipe.ingrediants
              p #{ingrediant.name} : #{ingrediant.quantity}
